
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  background-color: #dddddd;
  width: 90vw;
  height: 90vh;
  justify-self: center;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  background-color: #6aa84f;
  width: 100%;
  height: 25%;
}

.navigation {
  background-color: #6fa8dc;
  width: 20%;
  height: 60%;
}

.main {
  background-color: #e06666;
  width: 75%;
}

.mainbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.subcontent {
  background-color: #ffd966;
  width: 20%;
  height: 25rem;
  padding: 1rem
}

.advertisement {
  background-color: #b4a7d6;
  width: 100%;
}
